<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title has-text-primary has-background-white">
                Lists
            </h1>
            <div class="list-menu">
                <a class="list-menu-item"
                *ngFor="let l of lists"
                [routerLink]="['/lists', l._id]"
                routerLinkActive="is-active">
                    <p>{{ l.title }}</p>
                </a>
            </div>
            <button class="button is-primary has-text-white"
            routerLink="/new-list">+ New List</button>
        </div>

        <div class="task-list-container  has-background-light">
            <div *ngIf="tasks">
                
                <div class="top-bar">
                    <h1 class="title has-text-primary">
                        Tasks
                    </h1>
                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                <span class="icon is-small">
                                    <i class="fas fa-cog" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content">
                                <a [routerLink]="['/edit-list',selectedListId]" class="dropdown-item">
                                    Edit List Name
                                </a>
                                <a  (click)="onDeleteListClicked()" class="dropdown-item has-text-danger">
                                    Delete List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Task Elements -->

                <div class="task" *ngFor="let t of tasks" 
                (click)="onTaskClicked(t)"
                [ngClass]="{ 'completed': t.completed }">
                    <div class="task-text">
                        <p>{{ t.title }}</p>
                    </div>
                    <div class="task-buttons">
                        <button class="button is-small"
                        [routerLink]="['/lists',selectedListId, 'edit-task', t._id]">
                            <div class="icon">
                                <i class="fas fa-edit"></i>
                            </div>
                        </button>

                        <button class="button is-danger is-small" 
                        style="margin-left: 10px;"
                        (click)="onTaskDeleteCLick(t._id)">
                            <div class="icon">
                                <i class="fas fa-trash"></i>
                            </div>
                        </button>
                    </div>
                </div>
                
                <h3 class="empty-state-text"
                *ngIf="tasks.length === 0">
                No tasks in this list.
                </h3>

                <button class="circle-add-button button is-primary"
                routerLink="./new-task">
                    <span class="icon is-small">
                        <i class="fas fa-plus" style="color: white;"></i>
                    </span>
                </button>
            </div>

            <div *ngIf="!tasks">
                <h3 class="empty-state-text">Select a list to view the tasks</h3>
            </div>
            
        </div>

    </div>
</div>
 