<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Create a New List</h1>

        <input #listTitleInput type="text" 
        class="input has-background-grey-lighter is-medium"
        placeholder="Enter list name...">
    
        <br><br>

        <div class="buttons is-right">
            <button class="button is-danger has-text-white is-medium" routerLink="/">Cancel</button>
            <button class="button is-primary has-text-white is-medium"
            (click)="createNewList(listTitleInput.value)">Create</button>
        </div>
    </div>
</div>
